<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Say hello page</title>
</head>
<body>
    <h3> Welcome to my first served page</h3>
     
<h5> My products </h5>

<table border="1">
    <strong><tr><td> Title </td><td> Description </td></tr></strong>
    {% for product in products %}

<tr><td>{{ product.title }}</td> <td> {{ product.description }}</td> </tr>

    {% endfor %}
</table>

</body>
</html>